* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

html{
    animation: Open 1s ease-in 0s;
}

@keyframes Open{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

:root {
    --Zwart: #000;
    --Vervaagd-Zwart: rgba(0, 0, 0, 0.5);
    --Wit: #fff;
    --Vervaagd-Wit: rgba(100%, 100%, 100%, 0.5);
}

header {
    background-color: var(--Zwart);
}

header .header-wrapper {
    display: flex;
    width: 90%;
    margin: 0 auto;
    padding: 40px 0;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 25%;
}

header nav ul {
    display: flex;
    list-style-type: none;
}

header ul a {
    text-decoration: none;
    color: var(--Wit);
    padding-right: 20px;
    border-right: 1px solid var(--Wit);
    margin-right: 20px;
    transition: all .5s 0s ease-in-out;
}

header ul li:hover a{
    font-size: 1.1rem;
}

header ul li:last-child a {
    border-right: none;
}

img {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    height: 100%;
}

/*** HOOFDPAGINA ***/

.container {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: center;
}

.image {
    position: relative;
}

.image a {
    position: absolute;
    color: var(--Wit);
    right: 80px;
    bottom: 80px;
    text-decoration: none;
    background-color: var(--Vervaagd-Wit);
    padding: 8px;
    border-radius: 1rem;
    border: 1px solid var(--Wit);
    margin: auto auto;
    text-align: center;
    transition: all 2s ease-in-out 0s;
}

.image a:hover {
    font-size: 22px;
}

@keyframes Otherpage {
    0% {
        padding: 8px;
    }

    50% {
        padding: 16px;
    }

    100% {
        padding: 8px;
    }
}

.image p {
    color: var(--Wit);
    background-color: var(--Vervaagd-Wit);
    border: 2px solid var(--Wit);
    border-top: none;
    border-left: none;
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 20px;
    width: 15rem;
    text-align: center;
}

.intro {
    height: 620px;
    display: flex;
    background-color: var(--Zwart);
}

.tekst {
    color: var(--Wit);
    padding: 10px 20px;
    background-color: var(--Zwart);
    /*border-radius: 3rem;*/
    flex-basis: 70%;
    margin: auto 0 auto 90px;
    border-left: 2px solid var(--Wit);
}

.ik img{
    width: 300px;
}

.portfolio {
    background-color: var(--Zwart);
    width: 86%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: center;
}

/*** components ***/

h1 {
    padding-bottom: 10px;
}

p {
    line-height: 150%;
}

h2 {
    color: var(--Wit);
    text-align: center;
    background-color: var(--Zwart);
    text-transform: uppercase;
    font-size: 40px;
    text-decoration: underline;
}

body {
    background-color: var(--Zwart);
}

/* footer */

.footer-wrapper{
    display: flex;
    padding-top: 4rem;
    padding-bottom: 4rem;
    width: 86%;
    margin: 0 auto;
}

.contact{
    flex-basis: 50%;
    list-style: none; 
    flex-wrap: wrap;
    display: flex;
}

.klik ul li{
    list-style: none;
    padding-bottom: 10px;
    color: var(--Wit);
    font-size: 1rem;
}

.klik ul a{
    text-decoration: none;
    color: var(--Wit);
}

.icons ul li{
    list-style: none;
    padding-bottom: 10px;
    color: var(--Wit);
    margin-right: 10px;
}