/*** MAIN ***/
/*** GENERAL ***/
* {
    padding: 0;
    margin: 0;
    font-family: var(--font-montserrat);
}

.disabled {
    opacity: 0.3;
}

.body-zone {
    background-image: url(../Images/Body/Home1.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    object-fit: contain;
    background-position: center;
    background-size: cover;
}

.body-zone.toggled {
    background-image: none;
}

h1 {
    font-size: 2rem;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    margin: 30px 0;
    margin-top: 60px;
}

a {
    color: var(--color-white);
    text-decoration: none;
}

img {
    width: 100%;
}

.center {
    text-align: center;
}

.medium-bold-white {
    color: var(--color-white);
    font-size: 20px;
    font-weight: 500;
}

.medium-semibold-white {
    color: var(--color-white);
    font-size: 20px;
    font-weight: 400;
}



/*** HEADER ***/
header {
    background-color: black;
    height: 12vh;
    width: 100%;
    display: block;
}

.header-logo {
    width: 120px;
    height: 45px;
    margin: 0 auto;
    margin-top: 35px;
    margin-bottom: 30px;
}

.nav-toggler {
    display: block;
    cursor: pointer;
    position: relative;
    left: -3px;
    height: 37px;
    width: 42px;
    margin: 0 auto;
    margin-top: 54px;
}

.nav-toggler .bar1,
.nav-toggler .bar2,
.nav-toggler .bar3 {
    width: 33px;
    height: 3px;
    background-color: var(--color-white);
    margin: 0 auto;
    margin-top: 7px;
    margin-bottom: 7px;
    border-radius: 4px;
    transition: 0.4s;
}

.nav-links {
    display: none;
}

.nav-links.toggled {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    position: fixed;
    padding-top: 172px;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    margin-top: 150px;
}

.nav-links.toggled a {
    color: var(--color-black);
    list-style: none;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
}

.nav-links.toggled a li {
    margin-bottom: 25px;
}

/* Rotate first bar */
.toggled .bar1 {
    transform: rotate(-45deg) translate(-2px, 8px);
}

/* Fade out the second bar */
.toggled .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.toggled .bar3 {
    transform: rotate(45deg) translate(-7px, -12px);
}



/*** MAIN ***/
.profile-homepage {
    text-align: center;
    margin-top: 140px;
}

.profile-homepage img {
    width: 124px;
    height: 124px;
    border-radius: 100%;
    object-fit: cover;
    border: 3px solid var(--color-white);
}

.profile-text {
    margin-top: 25px;
}

.medium-semibold-white.profile-text {
    margin-top: 10px;
    margin-bottom: 80px;
}

.socials {
    margin-bottom: 25px;
    color: var(--color-white);
    font-size: 20px;
}

.home-instagram {
    position: relative;
    font-size: 18px;
    width: 100%;
    left: 87px;
    top: 4px;
    color: var(--color-white);
}

.home-facebook {
    position: relative;
    font-size: 18px;
    width: 100%;
    left: 80px;
    top: 1px;
    color: var(--color-white);
}

.home-envelope {
    position: relative;
    font-size: 18px;
    width: 100%;
    left: 21px;
    top: 3px;
    color: var(--color-white);
}

.home-phone {
    position: relative;
    font-size: 18px;
    width: 100%;
    left: 70px;
    top: 0px;
    color: var(--color-white);
}

.home.toggled {
    display: none;
}


/*** FOOTER ***/
footer {
    padding-top: 50px;
    background-color: var(--color-black);
    margin-top: 60px;
    padding-bottom: 60px;
}

.footer-text {
    margin-bottom: 10px;
}


/*** PORTFOLIO ***/
.portimg {
    margin-bottom: 10px;
}

.port-main.toggled {
    display: none;
}

.port-footer.toggled {
    display: none;
}

.footer-socials {
    margin-top: 30px;
}

.footer-instagram,
.footer-facebook,
.footer-envelope,
.footer-phone {
    color: var(--color-white);
    margin-bottom: 10px;
}

.footer-socials .footer-text {
    color: var(--color-white);
    margin-bottom: 8px;
}



/*** WIP ***/
main.wip-main.toggled {
    display: none;
} 



/*** WEB ***/
@media (min-width: 768px) {

    /*** GENERAL ***/
    .body-zone {
        background-image: url(../Images/Body/Home2.jpg);
        height: 100vh;
        background-position: center;
        background-size: cover;
    }

    .body-zone.toggled {
        background-image: none;
    }

    h1 {
        font-size: 3rem;
        font-weight: 400;
        text-transform: uppercase;
        text-align: center;
        margin: 50px 0;
        margin-top: 80px;
    }


    /*** HEADER ***/
    header {
        background-color: var(--color-black);
        height: 16vh;
        width: 100%;
        display: block;
    }

    .header-logo {
        width: 168px;
        height: 63px;
        margin: 0 auto;
        margin-top: 40px;
        margin-bottom: 30px;
    }


    /*** MAIN ***/
    .profile-homepage {
        text-align: center;
        margin-top: 80px;
    }

    .profile-homepage img {
        width: 180px;
        height: 180px;
        border-radius: 100%;
        object-fit: cover;
        border: 3px solid var(--color-white);
    }

    .profile-text {
        margin-top: 40px;
    }

    .medium-semibold-white.profile-text {
        margin-top: 10px;
        margin-bottom: 110px;
    }

    .socials {
        margin-bottom: 25px;
        color: var(--color-white);
        font-size: 20px;
    }

    .socials:last-child p {
        margin-bottom: 0px;
    }

    .home-instagram {
        position: relative;
        font-size: 24px;
        width: 100%;
        left: 465px;
        top: 0px;
        color: var(--color-white);
    }

    .home-facebook {
        position: relative;
        font-size: 24px;
        width: 100%;
        left: 455px;
        top: -2px;
        color: var(--color-white);
    }

    .home-envelope {
        position: relative;
        font-size: 24px;
        width: 100%;
        left: 395px;
        top: 0px;
        color: var(--color-white);
    }

    .home-phone {
        position: relative;
        font-size: 24px;
        width: 100%;
        left: 440px;
        top: -2px;
        color: var(--color-white);
    }

    .home.toggled {
        display: none;
    }

    .portimg {
        margin-bottom: 10px;
        padding: 0 7px;
    }

    .port-main {
        margin-bottom: 150px;
    }
}